body{
    background-image: url(bad-shot.webp);
    background-repeat: no-repeat;
    background-size: cover ;
    
}
h1{
    text-align: center;
    
}
p{
    margin:auto
}
.szutyi{
    font-size: 17pt;
    padding: 0 20px 0 40px;
}
.kukac{
    font-size: 17pt;
    padding-right: 40px;
padding-left: 40px;
}
h2{
    font-size: 25pt;
 text-align: center;
}
#blokk{
    float: right;
    padding-right: 40px;
    width: 30%;
    padding-top: 20px;
}
#kep{
    margin: auto;
    padding-left: 430px;
    padding-bottom: 00px;
    
}
