body{
    
    background-color: grey;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    
    
}
h1{
    text-align: center;
    
}
p{
    margin:auto
}
.szutyi{
    font-size: 17pt;
    padding: 0 20px 0 40px;
}
.kukac{
    font-size: 17pt;
    padding-right: 40px;
    padding-left: 40px;
}
h2{
    font-size: 19pt;
 text-align: center;
}
#blokk{
    float: right;
    padding-right: 40px;
    width: 30%;
    padding-top: 20px;
    border-radius: 30px;
    border-top-right-radius: 30px;
}
#kep{
    margin: auto;
    padding-left: 430px;
    padding-bottom: 00px;
    
}
#szbsz{
    font-size: 24pt;
    text-align: center;
    padding-top: 20px;
}
#szabaly{
    font-size: 40pt;
}
.szabalyok{
    background-image: url(volleyball-net-on-sandy-mediterranean-beach.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
#logs{
    padding-left: 430px;
    width: 400px;
}
#kepep{
    padding-left: 700px;
}