body{
    background-image: url(bad-shot.webp);
    background-repeat: no-repeat;
    background-size: cover ;
    
}
h1{
    text-align: center;
    
}
p{
    margin:auto
}
.szutyi{
    font-size: 17pt;
}
.kukac{
    font-size: 17pt;

}
h2{
    font-size: 25pt;
 text-align: center;
}
#blokk{
    float: right;
    padding-right: 40px;
    width: 50%;
}